<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wlm">

    <xacro:arg name="robot_type" default="ddt"/>
    <xacro:include filename="$(find diablo_swingarm)/description/urdf/diablo/robot.xacro"/>

    <!-- manipulatior -->
    <xacro:include filename="$(find diablo_swingarm)/description/urdf/manipulator/robot.xacro"/>

    <joint name="manipulator_joint" type="fixed">
        <parent link="diablo_base_link"/>
        <child link="arm_base_link"/>
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
    </joint>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
</robot>