<?xml version="1.0"?>
<robot>
    <!-- ros_control plugin -->
    <!-- <gazebo>
        <plugin name="gazebo_ros_control" filename="liblegged_hw_sim.so">
            <robotNamespace>/</robotNamespace>
            <robotParam>legged_robot_description</robotParam>
            <robotSimType>legged_gazebo/LeggedHWSim</robotSimType>
        </plugin>
    </gazebo> -->

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

</robot>
