<launch>
    <arg name="use_mpc" default="true"/>
    <group if="$(arg use_mpc)">
        <param name="taskFile" value="$(find diablo_swingarm)/config/task.info"/>
        <param name="libFolder" value="$(find diablo_swingarm)/auto_generated"/>
        <param name="urdfFile" value="$(find diablo_swingarm)/description/urdf/mpc_robot.urdf"/>
    </group>

    <rosparam file="$(find diablo_swingarm)/config/controllers.yaml" command="load"/>
    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load
              controllers/joint_state_controller
              controllers/robot_state_controller
              controllers/mobile_manipulator_controller
              "/>
</launch>